%script{:type => "text/javascript", :src => "/scripts/jquery-1.5.min.js?#{version}"}
%script{:type => "text/javascript", :src => "/scripts/jquery.tmpl.js?#{version}"}
%script{:type => "text/javascript", :src => "/scripts/add.comment.js?#{version}"}
%script{:type => "text/javascript", :src => "/scripts/jquery.blockui.js?#{version}"}
%script{:type => "text/javascript", :src => "/scripts/jquery.cookie.js?#{version}"}
%script{:type => "text/javascript", :src => "/scripts/menu.js?#{version}"}
  
%script{:type => "text/javascript", :src => "/prettyforms/pretty.forms.js?#{version}"}
%script{:type => "text/javascript", :src => "/prettyforms/pretty.forms.setup.js?#{version}"}


%script{:type => "text/javascript", :src => "/prettify/prettify.js?#{version}"}
%script{:type => "text/javascript", :src => "/prettify/prettify.load.js?#{version}"}


