!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%title=title
		= partial(:_css)
		= partial(:_scripts)
		= partial(:_discovery)
	%body
		#container
			#header
				= partial(:_header)
			#menu
				= partial(:_menu)
			#separator
			#contents
				= yield
			#widgets
				= partial(:_widget_twitter)
				= partial(:_widget_month_roll)
				= partial(:_widget_tag_cloud)
				
			#footer== &copy; #{DateTime.now.year} #{Blog.name}
		
		
		